# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Turbo
.turbo

# Playwright
test-results
playwright-report
playwright/.cache

# Docs (temporary — ignore for now)
docs

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
